<div class="center-block">
<p class = "lead">Fill Rectangle</p>
<canvas id="c1" width="140" height="140"></canvas>
</div>


<div class="center-block">
<p class = "lead">Simple Animation</p>
<canvas id="c2" width="140" height="140"></canvas>
</div>

